*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/config/initializers/secret_token.rb
**.orig
rerun.txt
pickle-email-*.html
*.swp

# Ignore application configuration
/config/application.yml

# don't want to commit precompiled assets right now
/public/assets/*
