# {{ ansible_managed }}
# http://www.flaviogambardella.com/ruby-on-rails/configure-rails-to-use-mongodb-without-mongomapper/
class MongoConfig
  class << self
    attr_accessor :connection
  end
end

connection = Mongo::Connection.new("{{ groups['dbservers'][0] }}", {{ mongodb_port }})
MongoConfig.connection = connection

