
<% eventlog = @match['roshans'] + @match['buybacks'] + @match['runes'] + @match['kill_list'] %>
<% eventlog.sort! { |x,y| x['tick'] <=> y['tick'] } %>

<div id="eventlog" class="container" style="height:200px; overflow-y:scroll;">
<% for evt in eventlog %>
  <div class="row">
    <%= content_tag "div", class: "event col-md-12", data: {tick: evt['tick']} do %>
      <%= evt.inspect %>
    <% end %>
  </div>
<% end %>
</div>
