
<% eventlog = @match['roshans'] + @match['buybacks'] + @match['runes'] + @match['kill_list'] %>
<% eventlog.sort! { |x,y| x['time'] <=> y['time'] } %>

<div id="eventlog" class="container" style="float: left; width: 600px; height:200px; overflow-y:scroll;">
</div>
