<%# Created by alacrity.spritesheets.gen_hero_dropdown.py - Fri Jan 10 13:06:33 2014 %>
<select name="hero" class="form-control">
  <option value="all" selected>All Heroes</option>
  <option value="npc_dota_hero_abaddon">Abaddon</option>
  <option value="npc_dota_hero_abyssal_underlord">Abyssal Underlord</option>
  <option value="npc_dota_hero_alchemist">Alchemist</option>
  <option value="npc_dota_hero_ancient_apparition">Ancient Apparition</option>
  <option value="npc_dota_hero_antimage">Anti-Mage</option>
  <option value="npc_dota_hero_axe">Axe</option>
  <option value="npc_dota_hero_bane">Bane</option>
  <option value="npc_dota_hero_batrider">Batrider</option>
  <option value="npc_dota_hero_beastmaster">Beastmaster</option>
  <option value="npc_dota_hero_bloodseeker">Bloodseeker</option>
  <option value="npc_dota_hero_bounty_hunter">Bounty Hunter</option>
  <option value="npc_dota_hero_brewmaster">Brewmaster</option>
  <option value="npc_dota_hero_bristleback">Bristleback</option>
  <option value="npc_dota_hero_broodmother">Broodmother</option>
  <option value="npc_dota_hero_centaur">Centaur Warrunner</option>
  <option value="npc_dota_hero_chaos_knight">Chaos Knight</option>
  <option value="npc_dota_hero_chen">Chen</option>
  <option value="npc_dota_hero_clinkz">Clinkz</option>
  <option value="npc_dota_hero_rattletrap">Clockwerk</option>
  <option value="npc_dota_hero_crystal_maiden">Crystal Maiden</option>
  <option value="npc_dota_hero_dark_seer">Dark Seer</option>
  <option value="npc_dota_hero_dazzle">Dazzle</option>
  <option value="npc_dota_hero_death_prophet">Death Prophet</option>
  <option value="npc_dota_hero_disruptor">Disruptor</option>
  <option value="npc_dota_hero_doom_bringer">Doom</option>
  <option value="npc_dota_hero_dragon_knight">Dragon Knight</option>
  <option value="npc_dota_hero_drow_ranger">Drow Ranger</option>
  <option value="npc_dota_hero_earth_spirit">Earth Spirit</option>
  <option value="npc_dota_hero_earthshaker">Earthshaker</option>
  <option value="npc_dota_hero_elder_titan">Elder Titan</option>
  <option value="npc_dota_hero_ember_spirit">Ember Spirit</option>
  <option value="npc_dota_hero_enchantress">Enchantress</option>
  <option value="npc_dota_hero_enigma">Enigma</option>
  <option value="npc_dota_hero_faceless_void">Faceless Void</option>
  <option value="npc_dota_hero_gyrocopter">Gyrocopter</option>
  <option value="npc_dota_hero_huskar">Huskar</option>
  <option value="npc_dota_hero_invoker">Invoker</option>
  <option value="npc_dota_hero_wisp">Io</option>
  <option value="npc_dota_hero_jakiro">Jakiro</option>
  <option value="npc_dota_hero_juggernaut">Juggernaut</option>
  <option value="npc_dota_hero_keeper_of_the_light">Keeper of the Light</option>
  <option value="npc_dota_hero_kunkka">Kunkka</option>
  <option value="npc_dota_hero_legion_commander">Legion Commander</option>
  <option value="npc_dota_hero_leshrac">Leshrac</option>
  <option value="npc_dota_hero_lich">Lich</option>
  <option value="npc_dota_hero_life_stealer">Lifestealer</option>
  <option value="npc_dota_hero_lina">Lina</option>
  <option value="npc_dota_hero_lion">Lion</option>
  <option value="npc_dota_hero_lone_druid">Lone Druid</option>
  <option value="npc_dota_hero_luna">Luna</option>
  <option value="npc_dota_hero_lycan">Lycanthrope</option>
  <option value="npc_dota_hero_magnataur">Magnus</option>
  <option value="npc_dota_hero_medusa">Medusa</option>
  <option value="npc_dota_hero_meepo">Meepo</option>
  <option value="npc_dota_hero_mirana">Mirana</option>
  <option value="npc_dota_hero_morphling">Morphling</option>
  <option value="npc_dota_hero_naga_siren">Naga Siren</option>
  <option value="npc_dota_hero_furion">Nature's Prophet</option>
  <option value="npc_dota_hero_necrolyte">Necrolyte</option>
  <option value="npc_dota_hero_night_stalker">Night Stalker</option>
  <option value="npc_dota_hero_nyx_assassin">Nyx Assassin</option>
  <option value="npc_dota_hero_ogre_magi">Ogre Magi</option>
  <option value="npc_dota_hero_omniknight">Omniknight</option>
  <option value="npc_dota_hero_obsidian_destroyer">Outworld Devourer</option>
  <option value="npc_dota_hero_phantom_assassin">Phantom Assassin</option>
  <option value="npc_dota_hero_phantom_lancer">Phantom Lancer</option>
  <option value="npc_dota_hero_puck">Puck</option>
  <option value="npc_dota_hero_pudge">Pudge</option>
  <option value="npc_dota_hero_pugna">Pugna</option>
  <option value="npc_dota_hero_queenofpain">Queen of Pain</option>
  <option value="npc_dota_hero_razor">Razor</option>
  <option value="npc_dota_hero_riki">Riki</option>
  <option value="npc_dota_hero_rubick">Rubick</option>
  <option value="npc_dota_hero_sand_king">Sand King</option>
  <option value="npc_dota_hero_shadow_demon">Shadow Demon</option>
  <option value="npc_dota_hero_nevermore">Shadow Fiend</option>
  <option value="npc_dota_hero_shadow_shaman">Shadow Shaman</option>
  <option value="npc_dota_hero_silencer">Silencer</option>
  <option value="npc_dota_hero_skeleton_king">Skeleton King</option>
  <option value="npc_dota_hero_skywrath_mage">Skywrath Mage</option>
  <option value="npc_dota_hero_slardar">Slardar</option>
  <option value="npc_dota_hero_slark">Slark</option>
  <option value="npc_dota_hero_sniper">Sniper</option>
  <option value="npc_dota_hero_spectre">Spectre</option>
  <option value="npc_dota_hero_spirit_breaker">Spirit Breaker</option>
  <option value="npc_dota_hero_storm_spirit">Storm Spirit</option>
  <option value="npc_dota_hero_sven">Sven</option>
  <option value="npc_dota_hero_templar_assassin">Templar Assassin</option>
  <option value="npc_dota_hero_terrorblade">Terrorblade</option>
  <option value="npc_dota_hero_tidehunter">Tidehunter</option>
  <option value="npc_dota_hero_shredder">Timbersaw</option>
  <option value="npc_dota_hero_tinker">Tinker</option>
  <option value="npc_dota_hero_tiny">Tiny</option>
  <option value="npc_dota_hero_treant">Treant Protector</option>
  <option value="npc_dota_hero_troll_warlord">Troll Warlord</option>
  <option value="npc_dota_hero_tusk">Tusk</option>
  <option value="npc_dota_hero_undying">Undying</option>
  <option value="npc_dota_hero_ursa">Ursa</option>
  <option value="npc_dota_hero_vengefulspirit">Vengeful Spirit</option>
  <option value="npc_dota_hero_venomancer">Venomancer</option>
  <option value="npc_dota_hero_viper">Viper</option>
  <option value="npc_dota_hero_visage">Visage</option>
  <option value="npc_dota_hero_warlock">Warlock</option>
  <option value="npc_dota_hero_weaver">Weaver</option>
  <option value="npc_dota_hero_windrunner">Windrunner</option>
  <option value="npc_dota_hero_witch_doctor">Witch Doctor</option>
  <option value="npc_dota_hero_zuus">Zeus</option>
</select>
