<form class="form-inline" role="form">
  <div class="form-group">
    <select id="replay_speed" class="form-control" style="width:6em;">
      <option value="1">1x</option>
      <option value="2" selected>2x</option>
      <option value="4">4x</option>
      <option value="8">8x</option>
      <option value="16">16x</option>
    </select>
  </div>
  <div class="form-group">
    <button id="play_pause" type="button" class="btn btn-default"><span class="glyphicon glyphicon-play hide"></span><span class="glyphicon glyphicon-pause"></span></button>
  </div>
</form>
