    <div>Current value: <span id="curTime">0</span></div>
    <input type="range"
           id="time_slider"
           name="time"
           value="<%= start_time %>"
           min="<%= start_time %>"
           max="<%= end_time %>"
           step="30"
           style="width: 100%">
