<div id="curTime" style="position:relative"></div>
    <input type="range"
           id="time_slider"
           name="time"
           value="<%= start_time %>"
           min="<%= start_time %>"
           max="<%= end_time %>"
           step="1">
