<% [@match['radiant_name'], @match['dire_name']].each_with_index do |name, idx| %>
  <h3><%= name %></h3>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th style="width: 130px;">Player</th>
        <th style="width: 64px;">Hero</th>
        <th style="width: 26px;">L</th>
        <th style="width: 26px;">K</th>
        <th style="width: 26px;">D</th>
        <th style="width: 26px;">A</th>
        <th colspan="6" style="width: 264px;">Items</th>
        <th style="width: 43px;">Gold</th>
        <th style="width: 34px;">LH</th>
        <th style="width: 26px;">D</th>
        <th style="width: 42px;">GPM</th>
        <th style="width: 42px;">XPM</th>
      </tr>
    </thead>
    <tbody id="<%= idx == 0 ? "radiant_players" : "dire_players" %>">
      <% 6.times do %>
        <tr>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<%#
  team names
  team sides (radiant, dire)
  winner
  date of match
  duration
  match id (dotabuff link?)
  youtube link?
  rax/tower status?
  player table
    name
    level
    hero
    k/d/a
    items
    ending gold
    last hits
    denies
    gpm
    xpm
%>
