
<%#TODO: REFACTOR ANALYSES...%>
<% analyses = ['summary', 'goldxp', 'kills', 'positions', 'escapes', 'wards', 'buybacks', 'roshans', 'runes'] %>

<ul class="nav nav-tabs">
  <% analyses.each do |a| %>
    <li>
    <%= content_tag 'li', class: (action_name == a) ? "active" : "" do %>
      <%= link_to a.capitalize, eval("#{a}_match_path(#{params[:match_id]})") %>
    <% end %>
    </li>
  <% end %>
</ul>

