<button class="btn btn-primary btn-modal" data-toggle="modal" data-target="#uploader-modal">
  <span class="glyphicon glyphicon-plus"></span> Upload Replay
</button>

<div class="modal fade" id="uploader-modal" tabindex="-1" role="dialog" aria-labelledby="uploaderLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="uploaderLabel">Upload Replay <%= image_tag("ajax-loader.gif", class: "spinner", style: "display: none;") %></h4>
      </div>
      <div class="modal-body">
        <p>Select a .dem file to upload for processing</p>

        <%= s3_uploader_form callback_url: matches_url,
          callback_param: "replay_url",
          acl: 'public-read',
          id: "s3-uploader" do %>
          <%= file_field_tag :file %>
        <% end %>

        <script id="template-upload" type="text/x-tmpl">
        <div id="file-{%=o.unique_id%}" class="upload">
          {%=o.name%}
          <div class="progress progress-striped active">
            <div class="bar progress-bar" role="progressbar" style="height: 20px; width: 0%"></div>
          </div>
        </div>
        </script>

        <hr />

        <%= render partial: 'notiform', locals: {notif_type: 'url'} %>


        <div id="uploader-alerts" class="alertbox">
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
