<% cache do %>
  <div class="container">
  <h2>About</h2>
  <p>DotaRecap is a personal project by <a href="http://www.grschafer.com">Greg Schafer</a> built during Fall/Winter 2013. To learn about the <strong>motivation</strong>, <strong>tech</strong>, <strong>architecture</strong>, and <strong>future</strong> of the project, please read the <a href="http://grschafer.com/projects/2014/01/23/dotarecap-overview/">DotaRecap Overview blogpost</a>.</p>

  <h3>Privacy Policy</h3>
  <p>DotaRecap stores some personal data about users, notably an email address for notifications if provided by the user when requesting or uploading a replay. The email address is deleted after the notification is sent. Steam data is provided "as is" -- further detail is available in sections 7 and 8 of the <a href="http://steamcommunity.com/dev/apiterms">Steam Web API Terms of Use</a>. Your data will not be shared with or sold to others, unless required by law. DotaRecap servers are in the USA.</p>

  <h3>Cookies</h3>
  <p>DotaRecap uses cookies (small text files) to store your session. These cookies are sent by DotaRecap web servers and stored on your computer's hard drive. You can remove the cookies by accessing your browser's content/privacy settings and deleting cookies associated with the dotarecap.com domain.</p>


  </div>
<% end %>
