<%= render 'tabnav' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Hero</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
  <% for buyback in @match['buybacks'] %>
    <tr>
      <td><%= buyback['tick'] %></td>
      <td><%= buyback['hero'] %></td>
      <td><%= buyback['cost'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
