<div class="container">

  <div class="row">
    <div class="col-xs-5">
      <h1>Your matches</h1>
    </div>
    <div class="col-xs-7 new-match-btns">
      <%= render 'uploader' %>
      <%= render 'match_finder' %>
    </div>
  </div>


<%= render 'filter_form' %>

<% if @matches.length > 0 %>
  <%= render 'matchlist' %>
<% else %>
  <h2>You haven't uploaded or requested any matches</h2>
<% end %>
</div>
