<%= render 'tabnav' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Hero</th>
      <th>Event</th>
    </tr>
  </thead>
  <tbody>
  <% for roshan in @match['roshans'] %>
    <tr>
      <td><%= roshan['tick'] %></td>
      <td><%= roshan['hero'] %></td>
      <td><%= roshan['event'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
