<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @match['match_id'] %>
</p>

<%= render 'tabnav' %>

<p>TODO: SUMMARY INFO FROM MATCH thing</p>


<%= link_to 'Back', matches_path %>
