.nav img.avatar {
  height: 32px;
  margin: 9px;
}
.navbar-brand i {
  color: crimson;
  font-weight: bolder;
}
footer {
  margin: 5em 0 1em 0;
  text-align: center;
  color: #aaa;
  a {
    color: #aaa;
  }
}

