// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cell-change {
  background-color: #ff0;
}

/* blackout inventory cells */
table > tbody > tr {
  td:nth-child(7),
  td:nth-child(8),
  td:nth-child(9),
  td:nth-child(10),
  td:nth-child(11),
  td:nth-child(12) {
    background-color: black;
    /*-webkit-transform: scale(0.5,0.5);*/
  }
}
