// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$break-large: $screen-lg; // $screen-lg defined in application.css.scss as 1366px

@mixin for-layout($media) {
  // apply style when screen width > 1366px or when on mobile landscape
  @if $media == wide {
    @media (min-width: $break-large) {
      @content;
    }
    @media (orientation: landscape) {
      .mobile & {
        @content;
      }
    }
  }
}

.container {
  @include for-layout(wide) { max-width: $break-large; }
}

// ===== index pages =====
div.new-match-btns {
  text-align: right;
  margin-top: 30px;
  .btn-modal {
    margin-bottom: 5px;
  }
  .modal {
    text-align: left;
  }
}

// ===== shared =====
.float_lg {
  @include for-layout(wide) { float: left; }
}

// ===== playback controls =====
#curTime {
  width: 120px;
  // http://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font
  max-height: 999999px;
}
#playback_controls {
  width: 180px;
  padding-right: 50px;
  float: right;
}
#playback_slider {
  padding: 0 50px 0 50px;
  overflow: hidden;
  #time_slider {
    width: 100%;
  }
}

// ===== positions map =====
#map {
  width: 580px;
  height: 580px;
  margin-left: auto;
  margin-right: auto;
  @include for-layout(wide) {
    margin-left: 0px;
    margin-right:20px;
  }
}

// filter must be included in the page for this to work? see views/matches/show.html.erb
.desaturate {
  filter: url(#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

// ===== scoreboard table =====
#scoreboard {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  @include for-layout(wide) {
    margin: 0 -740px 0 0;
  }
  > table {
    width: auto;

    > tbody > tr > td {
      padding: 0px;
      > div {
        white-space: nowrap;
        overflow-x: hidden;
        height: 32px;
        width: 100%; // makes item cells no wider than their images
        padding: 5px;
      }
    }
    > tbody > tr td:first-child div {
      width: 130px; // enforce player name width constraint
    }
  }
}

// ===== events/kills log =====
#eventlog {
  width: 750px;
  height: 280px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  @include for-layout(wide) {
    width: 580px;
    margin-left: 0px;
    margin-right: 20px;
  }

  p {
    margin: 0;
    padding: 5px;

    // http://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font
    max-height: 999999px;
  }
}

// ===== gold/xp graph =====
#chart {
  width:750px;
  margin-left: auto;
  margin-right: auto;
  @include for-layout(wide) {
    margin: 0 -740px 0 0;
  }
  svg {
    height: 300px;
  }
}
